# TODO: say in the README to change this before running docker compose

# (Optional) Sets default port for the backend 
# Default: 5000 (if not provided)
PORT=5000

# PostgreSQL Database URL used to connect to a local or remote PostgreSQL database
# Default: postgresql://dev:dev@localhost:5432/bricked_lemons_db (The local database used in the docker image)
# IMPORTANT: if you're using docker database set it to postgresql://dev:dev@postgres:5433/bricked_lemons_db (replace: localhost:5433 with: postgres:5432) 
DATABASE_URL="postgresql://dev:dev@localhost:5433/bricked_lemons_db"

# Set your Frontend Server here
# Default: http://localhost:5173
FRONTEND_URL="http://localhost:5173"

# Is the project in "development" or "production" set this variable accordingly
NODE_ENV="development"

# Put a random 1-512 bit string for security (The longer the better)
# Node terminal script to generate random 512 bit string: node -e "console.log(require('crypto').randomBytes(64).toString('base64'))"
JWT_SECRET=""

# Default admin user credentials when seeding prisma
# Default: admin
DEFAULT_ADMIN_USERNAME="admin"
# Default: admin@brickedlemons.com
DEFAULT_ADMIN_EMAIL="admin@brickedlemons.com"
# Default: Change_Me
DEFAULT_ADMIN_PASSWORD="Change_Me"